* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Nunito';
    src: url('../fonts/Nunitoregular.woff');
}

body {
    background: linear-gradient(to right, rgb(255, 255, 255) 50%, rgb(248, 248, 250) 50%);
}

.registration {
    display: flex;
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin: auto;
    flex-direction: column;
    align-items: center;
}

.logo {
    position: relative;
    margin-top: 27px;
}

.page {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.registration__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

.registration__image {
    display: flex;
    max-width: 920px;
    align-items: center;
    justify-content: center;
}

.info__title {
    max-width: 496px;
    margin-top: 194px;

}

.head {
    font-family: 'Nunito', sans-serif;
    font-size: 36px;
    line-height: 49px;
}

.text {
    font-family: 'Nunito', sans-serif;
    color: rgba(99, 99, 99, 1);
    font-size: 22px;
    line-height: 27px;
    margin-top: 7px;
}

.info__form {
    margin-top: 42px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 44px;
}

.label {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    font-family: 'Nunito', sans-serif;
    color: rgba(198, 198, 196, 1);
    max-width: 452px;
}

.input {
    border: none;
    border-bottom: 1px solid rgba(198, 198, 196, 1);
    width: 452px;
    padding: 5px 0;
    margin-top: 5px;
    font-size: 20px;
    line-height: 27px;
}

.input:focus {
    outline-color: rgb(164, 164, 164);
}

.info__checkbox {
    margin-top: 30px;
    color: rgba(99, 99, 99, 1);
    display: flex;

}

.btn {
    margin-top: 40px;
    color: rgba(255, 255, 255, 1);
    font-size: 20px;
    line-height: 27px;
    font-family: 'Nunito', sans-serif;
    padding: 23px 68px;
    background-color: rgba(221, 49, 66, 1);
    border-radius: 40px;
    border: none;
    cursor: pointer;
}

.info__account {
    text-decoration: none;
    color: rgba(99, 99, 99, 1);
    margin-top: 44px;
}

.image__img {
    max-width: 100%;
}

input:focus {
    outline: none;
}

.error {
    margin-top: 5px;
    color: red;
    display: none;
}

.error__text {
    border-bottom: 1px solid red;
}

.popup {
    position: absolute;
    display: none;
    flex-direction: column;
    width: 320px;
    max-height: 90px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.75);
    padding: 20px;
    border-radius: 10px;
    background: linear-gradient(to right, rgb(255, 255, 255) 0%, rgb(248, 248, 250) 50%, rgb(232, 232, 235) 100%);
    transform: translate(0, 500px);
    transition: transform 1s;
}

.popup__content {
    font-size: 14px;
    font-family: 'Nunito', sans-serif;
}

.popup__close {
    margin-top: 8px;
    align-self: end;
}

.popup__button {
    padding: 8px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background: rgba(221, 49, 66, 1);
    color: white;
    width: 60px;
}